@import url('https://fonts.googleapis.com/css?family=Montserrat|Oxanium&display=swap');

$bodyBackground: rgb(4, 19, 70);
$mainBackground: #000;
$fontMain: #E0EAFF;
$uranusFont: #888;
$headerBackground: #999999;
$hoverColor: #445566;
$planetBackground: rgba(205, 205, 205, 0.3);
$sized: "Sized.png";
$imgFolder: "../images/";
$bborderStyle: thick solid #000;