@import url('https://fonts.googleapis.com/css?family=Montserrat|Oxanium&display=swap');

$bodyBackground: rgb(4, 19, 70);
$mainBackground: #000;
$fontMain: #E0EAFF;
$uranusFont: #888;
$headerBackground: #999999;
$hoverColor: #445566;
$planetBackground: rgba(205, 205, 205, 0.3);
$sized: "Sized.png";
$imgFolder: "../images/";
$bborderStyle: thick solid #000;
// This is a SASS list
$sizes: 40px, 50px, 80px;
// This is a my @each to set an icon size I used for my hamburger
@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}